.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}


.big-vertical-box {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
  align-items: stretch;
  
  overflow: hidden;
  
  min-height: 1200px;;
  background-color: rgb(255, 174, 53);
  margin: 0 !important;
  padding: 0 !important;
  /* padding-top: 50px; */
}

/* This f**ker was causing the Slide contents to be 'vertically' centered! Arrrgh! */
.swiper-zoom-container {
  -webkit-align-items: start;
  align-items: start;
}

ion-slides {
  background-color: rgb(255, 117, 237);
}
ion-slide {
  background-color: rgb(188, 255, 182);
}

.step-icon {
  margin-right: 10px;
  font-size: 1.2em;
}
.rotate-45 {
  transform: rotate(-45deg);
}
